fastapi==0.116.2
pydantic==2.11.9
python-dotenv==1.1.1
youtube-transcript-api==1.2.2
groq==0.31.1
sentence-transformers==5.1.1
langchain-text-splitters==0.3.11
langchain-community==0.3.29
langchain-core==0.3.76
langchain-google-genai==2.1.12
pypdf==6.1.0
uvicorn==0.35.0
openai==1.108.0
python-multipart==0.0.20
